<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr ng-repeat="day in schedule.conference.days" >
          <td>
            <table>
              <tr>
              <td ng-repeat="room in day.rooms">
                <table class="table table-striped">
                  <tr ng-repeat-start="event in room | filter:filter" ng-show="$first"><th>{{ event.room }}</th></tr>
                  <tr><td><b>{{ event.title }}</b>
                    <i class="glyphicon glyphicon-star" ng-show="isStarred(event.id)" ng-click="unstar(event.id)"></i>
                    <i class="glyphicon glyphicon-star-empty" ng-hide="isStarred(event.id)" ng-click="star(event.id)"></i>
                  </td></tr>
                  <tr ng-repeat-end><td>{{ event.description }}</td></tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        </tr>
      </table>

    </div>
  </div> <!-- row -->

</div> <!-- container -->
